<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Primer proyecto Angular</title>
  </head>
  <body>
    <h3>{{ titulo }}</h3>

    <header>
      <img src="/assets/cafe.png" alt="Logo" class="logo">
      <div class="buttons">
          <button type="button">Cadastrar Produto</button>
          <button type="button">Página de Início</button>
      </div>
  </header>

  </body>
</html>
